<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>369444282152-nmqq6gqom7ikjbta7ut160948gfnf71o.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.369444282152-nmqq6gqom7ikjbta7ut160948gfnf71o</string>
    <key>API_KEY</key>
    <string>AIzaSyD3zK1mryGP7P1eCkcHd-Lg6nagp_XWKDw</string>
    <key>GCM_SENDER_ID</key>
    <string>369444282152</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>co.tpcreative.qrscanner.app.develop</string>
    <key>PROJECT_ID</key>
    <string>qrscanner-1531453997054</string>
    <key>STORAGE_BUCKET</key>
    <string>qrscanner-1531453997054.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:369444282152:ios:4291b06d7ea576e9a87a1d</string>
    <key>DATABASE_URL</key>
    <string>https://qrscanner-1531453997054.firebaseio.com</string>
</dict>
</plist>
