<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>QRScanner</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(APP_BUNDLE_ID)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION_STRING)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.example.democarthage</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(APP_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<string>YES</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<string>NO</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>GoogleClientId</key>
	<string>$(APP_GOOGLE_CLIENT_ID)</string>
	<key>GoogleReversedClientId</key>
	<string>$(APP_GOOGLE_REVERSED_CLIENT_ID)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Need to use calendar to add event</string>
	<key>NSCameraUsageDescription</key>
	<string>Use camera to scanner code</string>
	<key>NSContactsUsageDescription</key>
	<string>Need to access contact</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Access location</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Our application needs permission to write photos..</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs to use Photo Library</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Bold.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProText-Light.otf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
