//
//  Debug.xcconfig
//  qrscanner
//
//  Created by phong070 on 2/29/20.
//  Copyright © 2020 thanhphong070. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
APP_NAME = QR Debug
APP_VERSION = 1
APP_VERSION_STRING = 0.0.1
APP_BUNDLE_ID = co.tpcreative.qrscanner
APP_ICON = AppIcon
APP_ROOT_URL = http:\/\/10.10.32.102:8013
APP_GOOGLE_CLIENT_ID = 369444282152-uugjknvq0hvisom65bgslk0mf8cdc4tm.apps.googleusercontent.com
APP_GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.369444282152-uugjknvq0hvisom65bgslk0mf8cdc4tm
APP_WS_URL = ws:\/\/116.193.72.25:1959\/sync
//co.tpcreative.qrscanner.share
